---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "The world's first all-female, all-technical accelerator" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | The Tech Bros</title>
    <style>
      html {
        background: #000000;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
